*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

*::selection {
	background-color: var(--light-gray);
	color: var(--reseda-green);
}

body {
	min-height: 100vh;
}

img,
picture,
svg,
video {
	max-width: 100%;
	display: block;
}