:root {
	--blue: #0081a7;
	--red: #f07167;
	--light-gray: #ced4da;
	--dark-gray: #353535;
}

/* Global
========================= */

body {
	font-family: 'Roboto', sans-serif;
}

/* Typography
========================= */



/* Layout
========================= */

.container-main {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
}