:root {
	--white: #fff;
	--light-gray: #e8e4db;
	--dark-gray: #2e2c2f;
	--reseda-green: #5f684b;
	--moss-green: #9BA17F;
	--olivine: #c2d68b;
}

/* Global
========================= */

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--light-gray);
	color: var(--dark-gray);
}

/* Typography
========================= */

.sidebar {
	font-size: 1.15rem;
	font-weight: 500;
}

.sidebar-logo h1 {
	font-size: 1.7rem;
	text-transform: uppercase;
}

.sidebar li {
	list-style-type: none;
}

.sidebar a {
	text-decoration: none;
}

.profile-username {
	font-size: 1.35rem;
	font-weight: 500;
}

.welcome p {
	font-size: 1.125rem;
}

.welcome .username {
	font-size: 2rem;
	font-weight: 700;
	text-decoration: underline;
}

.btn {
	text-decoration: none;
}

/* Layout
========================= */

.container-main {
	display: grid;
	grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
	.container-main {
		grid-template-columns: 17.5em 1fr;
	}
}

/* Sidebar
--------------- */

.sidebar {
	padding: 2em;
	background-color: var(--reseda-green);
	color: var(--white);
}

.sidebar-logo,
.sidebar li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-logo {
	margin-bottom: 2.5em;
}

.sidebar-image {
	width: 3.7em;
}

.sidebar ul {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
}

.sidebar li {
	gap: .5em;
}

.sidebar a { color: var(--white); }
.sidebar a:hover { color: var(--olivine); }
.sidebar a:active { color: var(--moss-green); }

.link-icon {
	width: 2.5em;
}

@media (min-width: 675px) {
	.sidebar ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1200px) {
	.sidebar {
		min-height: 100vh;
	}

	.sidebar ul {
		grid-template-columns: 1fr;
	}

	.sidebar li {
		flex-direction: row;
		gap: .7em;
	}
}

/* Header
--------------- */

header {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
	padding: 1.7em;
	background-color: var(--white);
	box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.1);
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.search-icon {
	width: 1.75em;
}

.search-box {
	width: 80%;
	max-width: 700px;
	padding: .35em;
	background-color: var(--light-gray);
	border: 2px solid var(--reseda-green);
}

.search-box::selection {
	background-color: var(--reseda-green);
	color: var(--white);
}

.search-box:focus {
	outline: none;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.7em;
}

.profile-icon {
	width: 3.75em;
	height: 3.75em;
	border-radius: 50%;
	object-fit: cover;
}

.welcome {
	margin-inline: auto;
}

.welcome .username {
	color: var(--reseda-green);
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .7em;
}

.btn {
	padding: .75em 1.5em;
	background-color: var(--reseda-green);
	color: var(--white);
	border-radius: 1.25em;
}

.btn:hover {
	background-color: var(--olivine);
	color: var(--reseda-green);
}

.btn:active {
	background-color: var(--moss-green);
	color: var(--olivine);
	transition: ease-in-out 50ms;
}

@media (min-width: 1200px) {
	header {
		grid-template-columns: 5fr 1fr;
	}
}