:root {
	--white: #fff;
	--light-gray: #f4f4f4;
	--dark-gray: #353535;
	--light-red: #f07167;
	--mid-red: #ff5a5f;
	--dark-red: #902923;
}

/* Global
========================= */

body {
	font-family: 'Roboto', sans-serif;
}

/* Typography
========================= */

.sidebar {
	font-size: 1.15rem;
	font-weight: 500;
}

.logo h3 {
	font-size: 1.7rem;
}

.sidebar li {
	list-style-type: none;
}

.sidebar a {
	text-decoration: none;
}

.sidebar a:hover {
	text-decoration: underline;
}

/* Layout
========================= */

.container-main {
	display: grid;
	grid-template-columns: 1fr;
}

/* Sidebar
--------------- */